.order {
    width: 640px;
    margin: 20px auto auto;
}

.id {
    text-align: center;
}

.ready {
    color: #00CCCC;
}

.ingredients {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.ingredient {
    display: flex;
    align-items: center;
}

.price {
    margin-left: auto;
}

.imageWrapper {
    height: 64px;
    width: 64px;
    background: #131316;
    border: 2px solid #801AB2;
    border-radius: 50%;
}

.image {
    object-fit: cover;
    height: 64px;
    width: 64px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}