.ready {
    color: #00CCCC;
}

.orders {
    display: grid;
    gap: 36px;
    grid-template-columns: 1fr 1fr;
}

.list {
    max-height: 172px;
    display: flex;
    row-gap: 8px;
    flex-wrap: wrap;
    flex-direction: column;
}